# 排除虚拟环境
.venv/
env/
venv/

# 排除日志和缓存
.logs
.work_space
.asset_space

__pycache__/
.pytest_cache/
.idea/
.vscode/

# 排除大型数据文件（根据你的实际情况添加）
*.mp4
*.zip
*.tar.gz
data/  # 如果有本地大型数据集目录

# 排除已经通过VOLUME挂载的目录（避免重复复制）
/app/.logs/
/app/.work_space/
/app/.asset_space/
/app/.vscode/

# 排除Docker相关文件
Dockerfile
docker-compose.yml
!/.asset_space/.cache/ffmpeg-release-amd64-static.tar.xz
# !/.asset_space/.cache/pytorch_packages/torch-2.6.0+cu126*.whl
# !/.asset_space/.cache/pytorch_packages/torchvision-0.21.0+cu126*.whl
# !/.asset_space/.cache/pytorch_packages/torchaudio-2.6.0*.whl