# 忽略 VSCode 配置文件夹
vscode/

# 忽略 Node.js 项目的依赖文件夹
node_modules/

# 忽略特定文件夹
.venv
.logs
__pycache__
.work_space
.cache
domains/drafts
.asset_space
.vscode
.lingma
/.vs
test*.py
copyright_structure/app.log
.pytest_cache
*.log
gfpgan
BasicSR
GFPGAN
Wav2Lip


gfpgan copy
